@import "src/index";

.button {
  box-sizing: border-box;
  max-width: 296px;
  width: 100%;
  height: 64px;
  padding: 20px 24px;
  background-color: $orange100;
  border-radius: 12px;
  color: $white100;
  font-weight: 600;
  font-size: 20px;
  line-height: 116%;
  text-align: center;
  border: none;
  cursor: pointer;

  &:active {
    background-color: $orange120;
  }

  @media (min-width: 1000px) {
    &:hover {
      background-color: $orange80;
    }
  }
  
  @media (max-width: $max_mobile_width) {
    max-width: 288px;
    height: 48px;
    font-size: 14px;
    padding: 16px 24px;
  }
}