@import "src/index";

.button {
  height: 64px;
  padding: 20px 24px;
  background-color: $orange100;
  border-radius: 12px;
  color: $white100;
  font-weight: 600;
  font-size: 20px;
  line-height: 116%;
  text-align: center;
  border: none;

  &:hover {
    background-color: $orange80;
  }

  &:active {
    background-color: $orange120;
  }
}