@import "src/index";

.startScreen {

  &__title {
    max-width: 624px;
    font-weight: 600;
    font-size: 56px;
    line-height: 65px;

    @media (max-width: $max_tablet_width) {
      font-size: 32px;
      line-height: 37px;
      text-align: center;
    }
  }

  &__action {
    padding-top: 64px;

    @media (max-width: $max_tablet_width) {
      display: flex;
      justify-content: center;
    }
  }
}