@import "src/index";

.finishScreen {
  &__label {
    font-weight: 600;
    font-size: 32px;
    line-height: 116%;
    opacity: .5;

    @media (max-width: $max_tablet_width) {
      text-align: center;
    }

    @media (max-width: $max_mobile_width) {
      font-size: 18px;
    }
  }

  &__value {
    font-weight: 600;
    font-size: 56px;
    line-height: 116%;

    @media (max-width: $max_tablet_width) {
      text-align: center;
    }

    @media (max-width: $max_mobile_width) {
      font-size: 32px;

    }
  }

  &__label + &__value {
    margin-top: 8px;
  }

  &__action {
    margin-top: 64px;

    @media (max-width: $max_tablet_width) {
      display: flex;
      justify-content: center;
      margin-top: auto;
    }
  }
}