@import "src/index";

.answer {
  position: relative;
  box-sizing: border-box;
  max-width: 405px;
  max-height: 72px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 24.5px 48px;
  border-radius: 10px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='407' height='72' viewBox='0 0 373 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7172 5.28344C24.8781 2.28016 28.3521 0.5 32.052 0.5H340.948C344.648 0.5 348.122 2.28016 350.283 5.28344L372.384 36L350.283 66.7166C348.122 69.7198 344.648 71.5 340.948 71.5H32.052C28.3521 71.5 24.8781 69.7198 22.7172 66.7166L0.615976 36L22.7172 5.28344Z' fill='%23FFFFFF' stroke='%23D0D0D8'/%3E%3Cpath d='M 1,36 L -17, 36' stroke='%23D0D0D8'/%3E%3Cpath d='M 372,36 L 390, 36' stroke='%23D0D0D8'/%3E%3C/svg%3E");
  background-size:  cover;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='407' height='72' viewBox='0 0 373 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7172 5.28344C24.8781 2.28016 28.3521 0.5 32.052 0.5H340.948C344.648 0.5 348.122 2.28016 350.283 5.28344L372.384 36L350.283 66.7166C348.122 69.7198 344.648 71.5 340.948 71.5H32.052C28.3521 71.5 24.8781 69.7198 22.7172 66.7166L0.615976 36L22.7172 5.28344Z' fill='%23FFFFFF' stroke='%23FF8B37'/%3E%3Cpath d='M 1,36 L -17, 36' stroke='%23FF8B37'/%3E%3Cpath d='M 372,36 L 390, 36' stroke='%23FF8B37'/%3E%3C/svg%3E");
  }


  &__selected {
    background-image: url("data:image/svg+xml,%3Csvg width='407' height='72' viewBox='0 0 373 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7172 5.28344C24.8781 2.28016 28.3521 0.5 32.052 0.5H340.948C344.648 0.5 348.122 2.28016 350.283 5.28344L372.384 36L350.283 66.7166C348.122 69.7198 344.648 71.5 340.948 71.5H32.052C28.3521 71.5 24.8781 69.7198 22.7172 66.7166L0.615976 36L22.7172 5.28344Z' fill='%23FFF3EB' stroke='%23FF8B37'/%3E%3Cpath d='M 1,36 L -17, 36' stroke='%23FF8B37'/%3E%3Cpath d='M 372,36 L 390, 36' stroke='%23FF8B37'/%3E%3C/svg%3E");
  }

  &__wrong {
    background-image: url("data:image/svg+xml,%3Csvg width='407' height='72' viewBox='0 0 373 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7172 5.28344C24.8781 2.28016 28.3521 0.5 32.052 0.5H340.948C344.648 0.5 348.122 2.28016 350.283 5.28344L372.384 36L350.283 66.7166C348.122 69.7198 344.648 71.5 340.948 71.5H32.052C28.3521 71.5 24.8781 69.7198 22.7172 66.7166L0.615976 36L22.7172 5.28344Z' fill='%23FDEEED' stroke='%23EC6259'/%3E%3Cpath d='M 1,36 L -17, 36' stroke='%23EC6259'/%3E%3Cpath d='M 372,36 L 390, 36' stroke='%23EC6259'/%3E%3C/svg%3E");
  }

  &__correct {
    background-image: url("data:image/svg+xml,%3Csvg width='407' height='72' viewBox='0 0 373 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7172 5.28344C24.8781 2.28016 28.3521 0.5 32.052 0.5H340.948C344.648 0.5 348.122 2.28016 350.283 5.28344L372.384 36L350.283 66.7166C348.122 69.7198 344.648 71.5 340.948 71.5H32.052C28.3521 71.5 24.8781 69.7198 22.7172 66.7166L0.615976 36L22.7172 5.28344Z' fill='%23E6FAEA' stroke='%2347D867'/%3E%3Cpath d='M 1,36 L -17, 36' stroke='%2347D867'/%3E%3Cpath d='M 372,36 L 390, 36' stroke='%2347D867'/%3E%3C/svg%3E");
  }

  &__number {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    line-height: 116%;
    color: $orange100;
    padding-right: 8px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 116%;
    text-transform: capitalize;
    color: $black100;
  }
}

